<!-- #--------------------------------------------------
# example unix/linux crontab file format:
#--------------------------------------------------
# min,hour,dayOfMonth,month,dayOfWeek command
#
# field          allowed values
# -----          --------------
# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12 (or names, see below)
# day of week    0-7 (0 or 7 is Sun, or use names)
#
#--------------------------------------------------

# run the drupal cron process every hour of every day
0 * * * * /usr/bin/wget -O - -q -t 1 http://localhost/cron.php -->
<div class="row">
  <div class="col-4">&nbsp;</div>
  <div class="col-4">
    <form [formGroup]="cronForm" (ngSubmit)="onSubmit()">
        <input type="checkbox" formControlName="doMinute" name="doMinute" id="doMinute"/>
        <label for="doMinute">Minute</label>
        <input *ngIf="cronForm.value.doMinute" type="number" formControlName="jobMinute" min="0" max="59"/> <br/>
    
        <input type="checkbox" formControlName="doHour" name="doHour" id="doHour">
        <label for="doHour">Hour</label>
        <input *ngIf="cronForm.value.doHour" type="number" formControlName="jobHour" min="0" max="24"><br>
    
        <input type="checkbox" formControlName="doDayOfMonth" name="doDayOfMonth"/>
        <label for="doDayOfMonth">Day (of month)</label>
        <input *ngIf="cronForm.value.doDayOfMonth" type="number" min="1" max="31" formControlName="jobDayOfMonth"/><br/>
    
        <input type="checkbox" formControlName="doMonth" name="doMonth"/>
        <label for="doMonth">Month</label>
        <input *ngIf="cronForm.value.doMonth" type="number" min="1" max="12" formControlName="jobMonth"/><br/>
    
        <input type="checkbox" formControlName="doDayOfWeek" name="doDayOfWeek"/>
        <label for="doDayOfWeek">Day (of week)</label>
        <input *ngIf="cronForm.value.doDayOfWeek" type="number" min="1" max="7" formControlName="jobDayOfWeek"/><br/>
    
        <hr>
        <label for="jobName">Job Name</label>
        <input type="text" formControlName="jobName" name="jobName"/><br/>
    
        <label for="jobCommand">Job Command</label>
        <input type="text" formControlName="jobCommand" name="jobCommand"/><br/>
    
        <hr>
        <button type="submit">Generate crontab</button>
        <br><br>
        <hr>
        <label for="output">Generated line</label><br>
        <textarea formControlName="output" name="output" id="" cols="30" rows="10"></textarea>
      </form>
  </div>
  <div class="col-4">&nbsp;</div>
</div>
